<h1>Timesheet#imagesoft</h1>
<p>Find me in app/views/timesheet/imagesoft.html.erb</p>

<table>
<thead>
  <tr>
    <th>Duration</th>
    <th>Billable</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Project</th>
    <th>Task</th>
    <th>Description</th>
    <th>Ignore Start and Stop</th>
  </tr>
</thead>
<tbody>
<% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= h time_entry['duration'] %></td>
    <td><%= h time_entry['billable'] %></td>
    <td><%= h time_entry['start'] %></td>
    <td><%= h time_entry['stop'] %></td>
    <td><%= h time_entry['project']['client_project_name'] %></td>
    <td><%= h time_entry['task']['name'] if not time_entry['task'].nil? %></td>
    <td><%= h time_entry['description'] %></td>
    <td><%= h time_entry['ignore_start_and_stop'] %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= @weeks %>

<h1>IMAGESOFT INTERNAL WORK TIMESHEET</h1>

<% @weeks.each do |key, week| %>
<h2><%= "#{week[:start].strftime('%d/%m/%Y')} - #{week[:end].strftime('%d/%m/%Y')}" %></h2>
<table border="1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time (Hrs)</th>
      <th>Client / Application Name</th>
      <th>Job Description</th>
    </tr>
  </thead>
  <tbody>
  <% week[:start].upto(week[:end]) do |day| %>
    <% if @timesheet.has_key?(day.strftime('%Y%m%d')) then %>
      <% first = true %>
      <% @timesheet[day.strftime('%Y%m%d')].each do |client,tasks| %>
    <tr>
      <td><%= day.strftime('%d/%m/%Y') if first %></td>
      <td><%= tasks[:duration] / 60.0 %></td>
      <td><%= client %></td>
      <td></td>
    </tr>
        <% first = false %>
      <% end %>
    <% end %>
  <% end %>
</tbody>
<tfoot>
  <tr>
    <td>TOTAL HOURS</td>
    <td></td>
    <td></td>
    <td></td>
</tfoot>
</table>
<% end %>
